*{
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}
div{
  width: 375px;
  height: 100vh;
  padding: 20px;
  
}

h1{
  text-align: left;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #1d2226;
  opacity: 1;
  
}

p{
  width: 232px;
  height: 48px;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0px;
  color: #1d2226;
  opacity: 0.6;
  margin: 5px 0px 10px 0px;
}

form > article {
  display: block;
  position: relative;
  margin: 23px 0;
  
}

label{
  position: absolute;
  left: 10px;
  top: -10px;
  max-width: fit-content;
  height:17px;
  color: #6C25FF;
  border-radius: 6px;
  opacity: 1;
  background: #F7F8F9 0% 0% no-repeat padding-box;
}
input{
  padding: 3px 10px;
  width: 350px;
  height:40px;
  border: 1px solid #CBCBCB;
  border-radius: 6px;
  opacity: 1;
  color: #919191;
}

#landingScreen{
  background-color: #F7F8F9;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
#loginScreen{
  background-color: #F7F8F9;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  
}

#btn-create{
  background: #6C25FF 0% 0% no-repeat padding-box;
  color: #FFFFFF;
}
#btn-login{
  background: #6C25FF4B 0% 0% no-repeat padding-box;
  color: #1D2226;
  margin-bottom: 41px;
}
#btn-Login{
  background: #CBCBCB 0% 0% no-repeat padding-box;
  color: #FFFFFF;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 46px;
  text-align: center;
  font-size: 17px;
  border-radius: 6px;
  letter-spacing: 0px;
  border: none;
  opacity: 1;
}


.Link{
  width: 100%;
}

@media (max-width: 768px) {
  div {
    max-width: 100vw;
    padding: 10px;
    border: none;
  }
}