*{
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}
div > #landingScreen{
  width: 375px;
  min-height: 812px;
  margin: 0px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 10px;
  background-color: #F7F8F9;
  box-shadow: 2px gray;
}

h1{
  text-align: left;
  font-size: 28px;
  letter-spacing: 0px;
  color: #1d2226;
  opacity: 1;
  
}

p{
  width: 232px;
  height: 48px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #1d2226;
  opacity: 0.6;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  height: 46px;
  text-align: center;
  font-size: 17px;
  border-radius: 6px;
  letter-spacing: 0px;
  border: none;
  opacity: 1;
}
#btn-create{
  background: #6C25FF 0% 0% no-repeat padding-box;
  color: #FFFFFF;
}
#btn-login{
  background: #6C25FF4B 0% 0% no-repeat padding-box;
  color: #1D2226;
  margin-bottom: 41px;
}